In [1]:
#Import libraries
import random
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Setting the variables for my initial data
mean = .5
std = mean/6
datapoints = 20000

In [3]:
#Function to get a list with a gaussian distribution
def get_gaussian_dist(mean,std,datapoints):
    gauss_lst = []
    while len(gauss_lst) < datapoints:
        sample = random.gauss(mean, std)
        if sample >= 0 and sample <= 1:
            gauss_lst.append(sample)
    return gauss_lst    

#Function to calculate the multiplier for water based on 3 regions
def get_waterfall(datapoints):
    pop = [-.1,0,.1]
    wei = [3,3,3]    
    lst = []
    for points in range(datapoints):
        multi = random.choices(pop,wei,k=1)
        lst.append(multi[0])
    return(lst)

In [4]:
gauss_1 = get_gaussian_dist(mean,std,datapoints)
gauss_2 = get_gaussian_dist(mean,std,datapoints)
water = get_waterfall(datapoints)

dict = {'Base_Gauss':gauss_1,'Sun_gauss':gauss_2,'Water_multi':water}
fake_iris=pd.DataFrame(dict)

In [6]:
fake_iris.sample(5)

       Base_Gauss  Sun_gauss  Water_multi
17409    0.363938   0.575455         -0.1
3841     0.708698   0.487989          0.0
1289     0.561722   0.445556          0.0
10500    0.479331   0.568143          0.0
13417    0.529981   0.512941         -0.1

In [7]:
fake_iris['plant_1_base'] = fake_iris['Base_Gauss'] + 9.7
fake_iris['plant_2_base'] = fake_iris['Base_Gauss'] + 10.3
fake_iris['plant_3_base'] = (fake_iris['Base_Gauss'] * 1.5) + 10.0

In [8]:
fake_iris.sample(5)

,Base_Gauss,Sun_gauss,Water_multi,plant_1_base,plant_2_base,plant_3_base
3722,0.472031,0.335620,0.1,10.172031,10.772031,10.708047
471,0.632441,0.473007,0.1,10.332441,10.932441,10.948662
1764,0.470828,0.529122,0.0,10.170828,10.770828,10.706242
11725,0.537027,0.562983,0.1,10.237027,10.837027,10.805541
9700,0.642720,0.600231,-0.1,10.342720,10.942720,10.964079