In [1]:
#Import libraries
import random
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Setting the variables for my initial data
mean = .5
std = mean/6

In [3]:
nrm_raw = []
while len(nrm_raw) <= 20000:
    sample = random.gauss(mean, std)
    if sample >=0 and sample <= 1:
        nrm_raw.append(sample)

In [4]:
dict = {'nrm_raw':nrm_raw}
fake_iris=pd.DataFrame(dict)

In [8]:
species_1 = fake_iris.copy()
species_2 = fake_iris.copy()
species_3 = fake_iris.copy()

In [9]:
species_1['par_1'] = 4.75*(1+species_1['nrm_raw'])
species_2['par_1'] = 5.25*(1+species_2['nrm_raw'])
species_3['par_1'] = 6.0*(1+species_3['nrm_raw'])

In [10]:
species_1['par_2'] = 7.0*(1+(species_1['nrm_raw']*2))
species_2['par_2'] = 7.25*(1+species_2['nrm_raw'])
species_3['par_2'] = 9.0*(1+species_3['nrm_raw'])

In [14]:
species_1['Type'] = 'Plant_1'
species_2['Type'] = 'Plant_2'
species_3['Type'] = 'Plant_3'

In [15]:
frames = [species_1,species_2,species_3]

In [16]:
iris_data_1 = pd.concat(frames)

In [17]:
iris_data_1

        nrm_raw     par_1      par_2     Type
0      0.525343  7.245380  14.354804  Plant_1
1      0.548815  7.356870  14.683405  Plant_1
2      0.555362  7.387970  14.775071  Plant_1
3      0.652318  7.848512  16.132457  Plant_1
4      0.449699  6.886072  13.295791  Plant_1
...         ...       ...        ...      ...
19996  0.338090  8.028537  12.042806  Plant_3
19997  0.565041  9.390244  14.085366  Plant_3
19998  0.432858  8.597148  12.895722  Plant_3
19999  0.469330  8.815982  13.223973  Plant_3
20000  0.442332  8.653994  12.980992  Plant_3

[60003 rows x 4 columns]