In [2]:
#Import libraries
import random
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Setting the variables for my initial data
mean = .5
std = mean/6

In [4]:
nrm_raw = []
while len(nrm_raw) <= 20000:
    sample = random.gauss(mean, std)
    if sample >=0 and sample <= 1:
        nrm_raw.append(sample)

In [5]:
dict = {'nrm_raw':nrm_raw}
fake_iris=pd.DataFrame(dict)

In [6]:
fake_iris

        nrm_raw
0      0.599073
1      0.514020
2      0.451174
3      0.490795
4      0.449610
...         ...
19996  0.622223
19997  0.553727
19998  0.480913
19999  0.552199
20000  0.309090

[20001 rows x 1 columns]

In [7]:
fake_iris['par_1'] = 5*(1+fake_iris['nrm_raw'])

In [8]:
fake_iris.head()

    nrm_raw     par_1
0  0.599073  7.995364
1  0.514020  7.570102
2  0.451174  7.255871
3  0.490795  7.453976
4  0.449610  7.248049